.tapir
{
   
    display: flex ;
   justify-content: center;
    align-items: center;
    background-color:#E2E2E2 ;
    height:200px;
}
 
.manati 


{
  
   display: flex ;
   justify-content: center;
    align-items: center; 
    background-color: #FFF0AC;
    height:100px;
    

    }


.cepeda
{
    display: flex ;
   justify-content: center;
    align-items: center;
    height:200px;
    
    } 
.gpt
{
    display: flex ;
   justify-content: center;
    align-items: center;
    background-color: #D1EAFF ;
    height:100px;
    
    } 